<h1>Events created by you </h1>
<% provide(:title, 'Event List') %>
<ul class="events">
  <% @events.each do |event| %>
    <li>
      <p> <%= link_to event.eventName, event %>
      <%= link_to 'Show', event %></td>
      <%= link_to 'Edit', edit_event_path(event) %></td>
      <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> </p>
    </li>
  <% end %>
</ul>

