<div class ="coverPage">
    <h1 class="head">Plan Easy </h1> 
    <div >
      <p class ="central-content">Planning for an event ? Big or Small  </p>
      <p class ="central-content"> Then PlanEasy is for you .. </p>
      <p class ="central-content">
        Use PlanEasy to create an event, add guests and invite them for your event and get the RSVP status 
      </p>
  </div>
  <div> 
    <p class="last-caption"> Log in and Get started </p>
  </div>
</div>